@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;600&display=swap');



body {
  font-family: 'Roboto Mono', 'Noto Sans JP', monospace, sans-serif;
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}